aiogram==2.25.1
aiohttp==3.8.4
python-telegram-bot==20.1
python-dotenv==1.0.0
beautifulsoup4==4.11.2
simplejson==3.18.4
Telethon==1.27.0
PyGithub==1.58.1
requests==2.28.2
firebase-admin==6.1.0
pyrogram==2.0.102
cowsay==5.0
TgCrypto==1.2.5